<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">WITAJ NA CURIOUSGAME</span>
        <span id="welcomeDescription">CURIOUSGAME to projekt, w którym stawiamy na oryginalność, na coś innego, niż na pozostałych serwerach. Idziemy jak burza, i pokonujemy kolejne etapy tworzenia serwera, który ma zachęcić swoimi nowościami do gry. Serdecznie zapraszamy Cię, abyś dołączył do naszej społeczności! </span>
        <br>
        <span id="welcomeDescCTA">Tylko kilka kliknięć dzieli cię od dołączenia do gry.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                ZACZYNAMY
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>